About:
  tabTitle: "관하여"
  releaseNotes: "릴리스 정보"
  license: "라이선스"
  termsOfUse: "사용 약관"
  with: " 와 "
  by: " 을 담은 "
  andTheAwesome: "그리고 끝내주는 "
  atomCommunity: "Atom 커뮤니티"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Checking for updates..."
    downloadingUpdates: "Downloading update"
    newUpdate: "새로운 업데이트 확인"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom is up to date!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Check now"
    restartInstall: "설치 후 다시 시작"
    automaticDownloadUpdates: "업데이트 자동으로 받기"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
