About:
  tabTitle: "À propos"
  releaseNotes: "Notes de version"
  license: "Licence"
  termsOfUse: "Conditions d'utilisation"
  with: " avec "
  by: " sur "
  andTheAwesome: "Et l'impressionnante "
  atomCommunity: "Communauté Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Recherche de mises à jour..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nouvelle version"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom est à jour !"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Vérifier maintenant"
    restartInstall: "Redémarrer et installer"
    automaticDownloadUpdates: "Téléchargement automatique des mises à jour"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
