About:
  tabTitle: "Pemerihalan"
  releaseNotes: "Catatan Keluaran Terkini"
  license: "Lesen"
  termsOfUse: "Terma Penggunaan"
  with: " dengan "
  by: " by "
  andTheAwesome: "And the awesome "
  atomCommunity: "Atom Community"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Mencari kemas kini..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Kemas Kini Baharu"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom sudah dikemas kini!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Cari kemas kini"
    restartInstall: "Tutup buka balik kemudian pasang"
    automaticDownloadUpdates: "Muat turun kemas kini secara automatik"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
