About:
  tabTitle: "Про Atom"
  releaseNotes: "Примітки до релізу"
  license: "Ліцензія"
  termsOfUse: "Умови використання"
  with: " з "
  by: " "
  andTheAwesome: "і чудовою "
  atomCommunity: "спільнотою Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Перевіряю наявність оновлень..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Наявні оновлення"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom є в актуальному стані!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Перевірити зараз"
    restartInstall: "Перезавантажити та встановити"
    automaticDownloadUpdates: "Авто-завантаження оновлень"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
