About:
  tabTitle: "Acerca de"
  releaseNotes: "Notas de la Versión"
  license: "Licencia"
  termsOfUse: "Términos de Uso"
  with: " con "
  by: " por "
  andTheAwesome: "Y la Increíble "
  atomCommunity: "Comunidad de Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Checking for updates..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nueva Actualización"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom is up to date!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Check now"
    restartInstall: "Reiniciar e instalar"
    automaticDownloadUpdates: "Descargar actualizaciones automáticamente"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
