About:
  tabTitle: "درباره ما"
  releaseNotes: "درباره این نسخه"
  license: "مجوز"
  termsOfUse: "شرایط استفاده"
  with: " با "
  by: " توسط "
  andTheAwesome: "و بزرگ "
  atomCommunity: "انجمن اتم"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: " جستجو برای به روز رسانی ..."
    downloadingUpdates: "Downloading update"
    newUpdate: "به روزرسانی های تازه"
    updateReleaseNotes: "Release Notes"
    upToDate: "اتم به روز است!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "همین حالا به روز رسانی کن"
    restartInstall: "راه اندازی مجدد و نصب"
    automaticDownloadUpdates: "دانلود به روز رسانی ها به صورت خودکار"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
