About:
  tabTitle: "Sobre"
  releaseNotes: "Notas De Lançamento"
  license: "Licença"
  termsOfUse: "Termos de Uso"
  with: " com "
  by: " por "
  andTheAwesome: "E a incrível "
  atomCommunity: "Comunidade Do Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Verificando atualizações..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nova Atualização"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom está atualizado!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Verifique agora"
    restartInstall: "Reiniciar e instalar"
    automaticDownloadUpdates: "Baixar automaticamente as atualizações"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
