About:
  tabTitle: "के बारे में"
  releaseNotes: "रिलीज नोट्स"
  license: "लाइसेंस"
  termsOfUse: "उपयोग की शर्तें"
  with: " साथ में "
  by: " द्वारा "
  andTheAwesome: "और कमाल है "
  atomCommunity: "एटम समुदाय"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "अपडेट्स के लिए जांच हो रही है..."
    downloadingUpdates: "Downloading update"
    newUpdate: "नई अपडेट"
    updateReleaseNotes: "Release Notes"
    upToDate: "एटौम आज तक है!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "अब जांचें"
    restartInstall: "स्थापित और स्थापित करें"
    automaticDownloadUpdates: "स्वचालित डाउनलोड अपडेट"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
