About:
  tabTitle: "Mbi"
  releaseNotes: "Shënime Versioni"
  license: "Licencë"
  termsOfUse: "Kushte Përdorimi"
  with: " me "
  by: " nga "
  andTheAwesome: "Dhe Bashkësia "
  atomCommunity: "mahnitëse e Atom-it"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Po kontrollohet për përditësime…"
    downloadingUpdates: "Downloading update"
    newUpdate: "Përditësim i Ri"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom-i është i përditësuar!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Kontrollo tani"
    restartInstall: "Rinise dhe instaloje"
    automaticDownloadUpdates: "Përditësimet shkarkoji automatikisht"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
