About:
  tabTitle: "关于"
  releaseNotes: "更新日志"
  license: "许可协议"
  termsOfUse: "使用条款"
  with: " 带着 "
  by:" 来自 "
  andTheAwesome: "以及超赞的 "
  atomCommunity: "Atom 社区"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "正在检查更新..."
    downloadingUpdates: "Downloading update"
    newUpdate: "新版本"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom 已是最新版本！"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "检查更新"
    restartInstall: "重启 Atom 并安装更新"
    automaticDownloadUpdates: "自动下载更新"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
