About:
  tabTitle: "O Atom'ie"
  releaseNotes: "Informacje o wydaniu"
  license: "Licencja"
  termsOfUse: "Warunki korzystania"
  with: " z "
  by: " przez "
  andTheAwesome: "oraz fantastycznej "
  atomCommunity: "społeczności Atom'a"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Sprawdzam aktualizacje..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nowa aktualizacja"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom jest aktualny!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Sprawdź teraz"
    restartInstall: "Zrestartuj i zainstaluj"
    automaticDownloadUpdates: "Automatic download updates"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
