About:
  tabTitle: "Over"
  releaseNotes: "Release Notes"
  license: "Licentie"
  termsOfUse: "Gebruikersovereenkomst"
  with: " met "
  by: " door "
  andTheAwesome: "En de geweldige "
  atomCommunity: "Atom Community"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Checking for updates..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nieuwe versie"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom is up to date!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Check now"
    restartInstall: "Herstart en installeer"
    automaticDownloadUpdates: "Nieuwe versie automatisch downloaden"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
