About:
  tabTitle: "Об Atom"
  releaseNotes: "Список изменений"
  license: "Лицензия"
  termsOfUse: "Правила использования"
  with: " с "
  by: " от "
  andTheAwesome: "И прекрасное "
  atomCommunity: "Сообщество Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Проверка обновлений..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Новое обновление"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom обновлён!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Проверить сейчас"
    restartInstall: "Перезагрузить и установить"
    automaticDownloadUpdates: "Автоматически загружать обновления"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
