About:
  tabTitle: "عن"
  releaseNotes: "ملاحظات الإصدار"
  license: "الرخصة"
  termsOfUse: "شروط الإستخدام"
  with: " بـ"
  by: " من قبل "
  andTheAwesome: "والرائع "
  atomCommunity: "مجتمع أتوم"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "يجري التحقق من التحديثات..."
    downloadingUpdates: "Downloading update"
    newUpdate: "تحديث جديد"
    updateReleaseNotes: "Release Notes"
    upToDate: "اتوم محدث لآخر إصدار!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "تحقق الآن"
    restartInstall: "أعد التشغيل وثبت"
    automaticDownloadUpdates: "تنزيل التحديثات آليا"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
