About:
  tabTitle: "เกี่ยวกับ"
  releaseNotes: "บันทึกการปรับปรุง"
  license: "การอนุญาต"
  termsOfUse: "ข้อตกลงการใช้งาน"
  with: " พร้อมกับ "
  by: " โดย "
  andTheAwesome: "และด้วยความสุดยอด "
  atomCommunity: "กลุ่มผู้ใช้ Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "กำลังตรวจสอบการอัพเดต..."
    downloadingUpdates: "Downloading update"
    newUpdate: "อัพเดตใหม่"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom อัพเดตแล้ว!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "ตรวจสอบตอนนี"
    restartInstall: "เริ่มใหม่และติดตั้ง"
    automaticDownloadUpdates: "ดาวน์โหลดส่วนอัพเดตอัตโนมัติ"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
