About:
  tabTitle: "Informazioni"
  releaseNotes: "Note di rilascio della versione"
  license: "Licenza"
  termsOfUse: "Condizioni d'uso"
  with: " con "
  by: " da "
  andTheAwesome: "e la fantastica "
  atomCommunity: "comunità di Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Verifica aggiornamenti..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nuovo aggiornamento"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom è aggiornato!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Verifica ora"
    restartInstall: "Riavvia ed installa"
    automaticDownloadUpdates: "Scarica gli aggiornamenti in automatico"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
