About:
  tabTitle: "Despre"
  releaseNotes: "Note de lansare"
  license: "Licență"
  termsOfUse: "Termeni de utilizare"
  with: " cu "
  by: " de "
  andTheAwesome: "Și uimitoarea "
  atomCommunity: "Comunitate Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Se caută actualizări..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Actualizare nouă"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom este actualizat!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Verifică acum"
    restartInstall: "Repornește și instalează"
    automaticDownloadUpdates: "Descarcă actualizări automat"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
