About:
  tabTitle: "O aplikaci"
  releaseNotes: "Poznámky k vydání"
  license: "Licence"
  termsOfUse: "Podmínky používání"
  with: " s "
  by: " od "
  andTheAwesome: "A úžasná "
  atomCommunity: "komunita Atomu"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Kontroluji nové aktualizace..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nová aktualizace"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom je aktuální!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Zkontrolovat"
    restartInstall: "Restartovat a nainstalovat"
    automaticDownloadUpdates: "Automatické stahování aktualizací"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
