About:
  tabTitle: "אודות"
  releaseNotes: "RealA10N תורגם לעברית על ידי"
  license: "רישיון"
  termsOfUse: "תנאי שימוש"
  with: " עם "
  by: " על ידי "
  andTheAwesome: "והקהילה המדהימה "
  atomCommunity: "של אטום"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "סורק עבור עדכונים..."
    downloadingUpdates: "Downloading update"
    newUpdate: "עדכון חדש"
    updateReleaseNotes: "Release Notes"
    upToDate: "אטום מעודכן!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "סרוק עכשיו"
    restartInstall: "התקן והפעל מחדש"
    automaticDownloadUpdates: "הורד עדכונים אוטומטית"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
