About:
  tabTitle: "Pri"
  releaseNotes: "Eldonaj Notoj"
  license: "Permesilo"
  termsOfUse: "Kondiĉoj de uzado"
  with: " kun "
  by: " de "
  andTheAwesome: "Kaj la mojosa "
  atomCommunity: "Atom Komunumo"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Kontrolas ĝisdatigojn..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Nova Ĝisdatigo"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom estas ĝisdata!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Kontroli nun"
    restartInstall: "Restartigi kaj instali"
    automaticDownloadUpdates: "Aŭtomate elŝuti ĝisdatigon"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
