About:
  tabTitle: "ಬಗ್ಗೆ"
  releaseNotes: "ಬಿಡುಗಡೆ ಟಿಪ್ಪಣಿಗಳು"
  license: "ಪರವಾನಗಿ"
  termsOfUse: "ಬಳಕೆಯ ನಿಯಮಗಳು"
  with: " ಜೊತೆ "
  by: " ಇವರಿಂದ "
  andTheAwesome: "ಮತ್ತು ಅದ್ಭುತ "
  atomCommunity: "ಅಣು(Atom) ಸಮುದಾಯ"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "ನವೀಕರಣಗಳಿಗಾಗಿ ಪರಿಶೀಲಿಸಲಾಗುತ್ತಿದೆ..."
    downloadingUpdates: "Downloading update"
    newUpdate: "ಹೊಸ ನವೀಕರಣ"
    updateReleaseNotes: "Release Notes"
    upToDate: "ಅಣು ನವೀಕರಿಸಿದೆ!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "ಈಗ ಪರಿಶೀಲಿಸು"
    restartInstall: "ಮರುಪ್ರಾರಂಭಿಸಿ ಮತ್ತು ಸ್ಥಾಪಿಸಿ"
    automaticDownloadUpdates: "ಸ್ವಯಂಚಾಲಿತ ಡೌನ್‌ಲೋಡ್ ನವೀಕರಣಗಳು"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
