About:
  tabTitle: "Tietoja"
  releaseNotes: "Versiotiedot"
  license: "Käyttölupa"
  termsOfUse: "Käyttöehdot"
  with: " "
  by: " "
  andTheAwesome: "Ja mahtava "
  atomCommunity: "Atom-yhteisö"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Etsitään päivityksiä..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Päivitys saatavilla"
    updateReleaseNotes: "Release Notes"
    upToDate: "Käytössä on viimeisin Atom-versio"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Etsi nyt"
    restartInstall: "Asennus ja uudelleenkäynnistys"
    automaticDownloadUpdates: "Lataa päivitykset automaattisesti"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
