About:
  tabTitle: "Пра Atom"
  releaseNotes: "Спіс змен"
  license: "Ліцэнзія"
  termsOfUse: "Умовы выкарыстання"
  with: " з "
  by: " ад "
  andTheAwesome: "І шыкоўная "
  atomCommunity: "Суполка Atom"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Праверка на наяўнасць абнаўленняў..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Новае абнаўленне"
    updateReleaseNotes: "Release Notes"
    upToDate: "Atom абноўлены!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Праверыць зараз"
    restartInstall: "Перазапусціць і ўсталяваць"
    automaticDownloadUpdates: "Аўтаматычна спампоўваць абнаўленні"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
