About:
  tabTitle: "Névjegy"
  releaseNotes: "Eddigi kiadások"
  license: "Licenc"
  termsOfUse: "Felhasználási feltételek"
  with: " with "
  by: " by "
  andTheAwesome: "És a fantasztikus "
  atomCommunity: "Atom közösség"
  statusLabel:
    defaultUpdateAuto: "Atom will check for updates automatically"
    defaultUpdateManual: "Automatic updates are disabled please check manually"
    checkingForUpdates: "Frissítések keresése..."
    downloadingUpdates: "Downloading update"
    newUpdate: "Frissítés"
    updateReleaseNotes: "Release Notes"
    upToDate: "Az Atom a legújabb változat!"
    notSupportAutoUpdate: "Your system does not support automatic updates"
    howToUpdate: "How to update"
  updateButton:
    checkUpdatesNow: "Keresés most"
    restartInstall: "Újraindítás és telepítés"
    automaticDownloadUpdates: "Frissítések automatikus letöltése"
  statusBar: "An update will be installed the next time Atom is relaunched.<br/><br/>
              Click the squirrel icon for more information."
